div(class="main-search-container")
    div(class="main-search-inner")
        div(class="container")
            div(class="row")
                div(class="col-md-12")
                    h2 Find Nearby Attractions
                    h4 Expolore top-rated attractions, activities and more
                div(class="main-search-input")
                    div(class="main-search-input-item")
                        input(type="text" placeholder="What are you looking for?")
                    div(class="main-search-input-item")
                        div(class="autocomplite-container")
                            input(type="text" placeholder="Location")
                            i(class="fas fa-map-marker-alt")
                    div(class="main-search-input-item")
                        div(class="dropdown-list-container")
                            a(class="dropdown-list-open-close-button")
                                span All Categories
                                i(class="fas fa-angle-down")
                    button(class="btn btn-danger") Search