div(class="most-visited-container")
    div(class="most-visited-inner")
        div(class="container")
            div(class="row")
                div(class="col-md-12")
                    h3(class="text-center") Most Visited Places
                    h4(class="text-center") Discover top-rated local businesses
        div(class="slider-container")
            div(class="slick-carousel-most-visited")
                div(class="carousel-item")
                    a(href="#" class="carousel-item-link")
                        div(class="sticker open") Now Open
                        span(class="btn btn-like") <i class="far fa-heart"></i>
                        div(class="carousel-item-content-wrapper")
                            div(class="type-place") EAT & DRINK
                            h5 Tom's Restaurant
                            p 2726 Shinn Street, New York
                        div(class="carousel-item-bg"  data-bg="/img/listing-item-01.jpg")
                        div(class="stars-block")
                            span(class="star")
                            span(class="star")
                            span(class="star")
                            span(class="star half")
                            span(class="star empty")
                            span(class="rating") (12 reviews)
                div(class="carousel-item")
                    a(href="#" class="carousel-item-link")
                        div(class="details-info") Friday, August 10
                        span(class="btn btn-like") <i class="far fa-heart"></i>
                        div(class="carousel-item-content-wrapper")
                            div(class="type-place") EVENTS
                            h5 Sticky Band
                            p Bishop Avenue, New York
                        div(class="carousel-item-bg"  data-bg="/img/listing-item-02.jpg")
                        div(class="stars-block")
                            span(class="star")
                            span(class="star")
                            span(class="star")
                            span(class="star half")
                            span(class="star empty")
                            span(class="rating") (27 reviews)
                div(class="carousel-item")
                    a(href="#" class="carousel-item-link")
                        div(class="details-info") Starting from $59 per night
                        span(class="btn btn-like") <i class="far fa-heart"></i>
                        div(class="carousel-item-content-wrapper")
                            div(class="type-place") HOTELS
                            h5 Hotel Govendor
                            p 778 Country Street, New York
                        div(class="carousel-item-bg"  data-bg="/img/listing-item-03.jpg")
                        div(class="stars-block")
                            span(class="star")
                            span(class="star")
                            span(class="star")
                            span(class="star half")
                            span(class="star empty")
                            span(class="rating") (5 reviews)
                div(class="carousel-item")
                    a(href="#" class="carousel-item-link")
                        div(class="sticker open") Now Open
                        span(class="btn btn-like") <i class="far fa-heart"></i>
                        div(class="carousel-item-content-wrapper")
                            div(class="type-place") EAT & DRINK
                            h5 Burger House 
                            p 2726 Shinn Street, New York
                        div(class="carousel-item-bg"  data-bg="/img/listing-item-04.jpg")
                        div(class="stars-block")
                            span(class="star")
                            span(class="star")
                            span(class="star")
                            span(class="star empty")
                            span(class="star empty")
                            span(class="rating") (10 reviews)
                div(class="carousel-item")
                    a(href="#" class="carousel-item-link")
                        span(class="btn btn-like") <i class="far fa-heart"></i>
                        div(class="carousel-item-content-wrapper")
                            div(class="type-place") OTHER
                            h5 Airport
                            p 1512 Duncan Avenue, New York
                        div(class="carousel-item-bg"  data-bg="/img/listing-item-05.jpg")
                        div(class="stars-block")
                            span(class="star")
                            span(class="star")
                            span(class="star half")
                            span(class="star empty")
                            span(class="star empty")
                            span(class="rating") (1000 reviews)
                div(class="carousel-item")
                    a(href="#" class="carousel-item-link")
                        div(class="sticker closed") Now Closed
                        span(class="btn btn-like") <i class="far fa-heart"></i>
                        div(class="carousel-item-content-wrapper")
                            div(class="type-place") EAT & DRINK
                            h5 Think Coffee
                            p 215 Terry Lane, New York
                        div(class="carousel-item-bg"  data-bg="/img/listing-item-06.jpg")
                        div(class="stars-block")
                            span(class="star")
                            span(class="star")
                            span(class="star")
                            span(class="star")
                            span(class="star")
                            span(class="rating") (12 reviews)