div(id='header')
    div(class='container')
        div(class="left-side")
            div(class="hamburger")
                button(type="button")
                    span(class="lines-hamburger")
            div(id="logo")
                a(href="/index")
                    img(src="/img/assets/logo.png")
            nav(id="navigation")
                ul(id="responsive")
                    li <a href="#">Home</a>
                        ul
                            li
                                a(href="#") Home 1
                            li
                                a(href="#") Home 2
                            li
                                a(href="#") Home 3
                            li
                                a(href="#") Home 4
                    li <a href="#">Listings</a>
                        ul
                            li
                                a(href="#") List 1
                                ul
                                    li
                                        a(href="#") Sublist 1
                                    li
                                        a(href="#") Sublist-sub 2
                                    li
                                        a(href="#") Sub 3
                                    li
                                        a(href="#") Sub-list 4
                            li
                                a(href="#") List-one More
                                ul
                                    li
                                        a(href="#") List-one More 1
                                    li
                                        a(href="#") List-two More 2
                                    li
                                        a(href="#") List-three More 3
                                    li
                                        a(href="#") List-four More 4
                            li
                                a(href="#") List 3
                            li
                                a(href="#") List 4
                    li <a href="#">User Panel</a>
                        ul
                            li
                                a(href="#") Dashboard
                            li
                                a(href="#") Messages
                            li
                                a(href="#") Bookings
                            li
                                a(href="#") My Listings
                            li
                                a(href="#") Rewiews
                            li
                                a(href="#") Bookmarks
                            li
                                a(href="#") My Profile
                    li <a href="#">Pages</a>
                        div(class="mega-menu mega-menu-three-columns")
                            
                            div(class="mega-menu-section")
                                p(class="mega-menu-section-header") Pages #1
                                ul(class="mega-menu-section-list")
                                    li
                                        <a href="#"><i class="fas fa-plus"></i>User Profile</a>
                                    li
                                        <a href="#"><i class="far fa-clock"></i>Booking Page</a>
                                    li
                                        <a href="#"><i class="far fa-grin-tongue-wink"></i>Add Listing</a>
                                    li
                                        <a href="#"><i class="far fa-envelope-open"></i>Blog</a>
                            
                            div(class="mega-menu-section")
                                p(class="mega-menu-section-header") Pages #1
                                ul(class="mega-menu-section-list")
                                    li
                                        <a href="#"><i class="fas fa-plus"></i>User Profile</a>
                                    li
                                        <a href="#"><i class="far fa-clock"></i>Booking Page</a>
                                    li
                                        <a href="#"><i class="far fa-grin-tongue-wink"></i>Add Listing</a>
                                    li
                                        <a href="#"><i class="far fa-envelope-open"></i>Blog</a>
                            
                            div(class="mega-menu-section")
                                p(class="mega-menu-section-header") Pages #1
                                ul(class="mega-menu-section-list")
                                    li
                                        <a href="#"><i class="fas fa-plus"></i>User Profile</a>
                                    li
                                        <a href="#"><i class="far fa-clock"></i>Booking Page</a>
                                    li
                                        <a href="#"><i class="far fa-grin-tongue-wink"></i>Add Listing</a>
                                    li
                                        <a href="#"><i class="far fa-envelope-open"></i>Blog</a>

        div(class="right-side")
            div(id="sign-in")
                a(href="#") <i class="fas fa-sign-in-alt"></i> Sign In
            button(id="add-listing" type="button" class="btn btn-outline-danger") Add Listing <i class="fas fa-plus-circle"></i>


div(class="main-search-container")
    div(class="main-search-inner")
        div(class="container")
            div(class="row")
                div(class="col-md-12")
                    h2 Find Nearby Attractions
                    h3 Expolore top-rated attractions, activities and more
                div(class="main-search-input")
                    div(class="main-search-input-item")
                        input(type="text" placeholder="What are you looking for?")
                    div(class="main-search-input-item")
                        div(class="autocomplite-container")
                            input(type="text" placeholder="Location")
                            i(class="fas fa-map-marker-alt")
                    div(class="main-search-input-item")
                        div(class="dropdown-list-container")
                            a(class="dropdown-list-open-close-button")
                                span All Categories
                                i(class="fas fa-angle-down")
                    button(class="btn btn-danger") Search