div(id='header')
    div(class='container')
        div(class="left-side")
            div(id="logo")
                a(href="/index")
                    img(src="/img/assets/logo.png")
            nav(id="navigation")
                ul(id="responsive")
                    li <a href="#">Home</a>
                    li <a href="#">Listings</a>
                    li <a href="#">User Panel</a>
                    li <a href="#">Pages</a>
