div(id='header')
    div(class='container')
        div(class="left-side")
            div(class="hamburger")
                button(type="button")
                    span(class="lines-hamburger")
            div(id="logo")
                a(href="/index")
                    img(src="/img/assets/logo.png")
            nav(id="navigation")
                ul(id="responsive")
                    li <a href="#">Home</a>
                        ul
                            li
                                a(href="#") Home 1
                            li
                                a(href="#") Home 2
                            li
                                a(href="#") Home 3
                            li
                                a(href="#") Home 4
                    li <a href="#">Listings</a>
                    li <a href="#">User Panel</a>
                    li <a href="#">Pages</a>
        div(class="right-side")
            div(id="sign-in")
                a(href="#") <i class="fas fa-sign-in-alt"></i> Sign In
            button(id="add-listing" type="button" class="btn btn-outline-danger") Add Listing <i class="fas fa-plus-circle"></i>
