div(id='header')
    div(class='container')
        div(class="left-side")
            div(id="logo")
                a(href="/index")
                    img(src="/img/assets/logo.png")
            nav(id="navigation")
                ul(id="responsive")
                    li <a href="#">Home</a>
                    li <a href="#">Listings</a>
                    li <a href="#">User Panel</a>
                    li <a href="#">Pages</a>
        div(class="right-side")
            div(id="sign-in")
                i(class="fas fa-sign-in-alt")
                a Sign In
            button(id="add-listing" type="button" class="btn btn-outline-danger") Add Listing <i class="fas fa-plus-circle"></i>
