div(class="pop-categories-container")
    div(class="pop-categories-inner")
        div(class="container")
            div(class="row")
                div(class="col-md-12")
                    h3(class="text-center") Popular Categories
                    h4(class="text-center") Browse <span class="text-danger">the most desirable</span> categories
        div(class="slider-container")
            div(class="slick-carousel-pop-categories")
                div(class="carousel-item")
                    a(href="#" class="carousel-item-link")
                        div(class="carousel-item-content-wrapper")
                            h5 Shops
                            p 14 listings
                            span(class="btn btn-danger") Browse
                        div(class="carousel-item-bg"  data-bg="/img/category-box-02.jpg")
                div(class="carousel-item")
                    a(href="#" class="carousel-item-link")
                        div(class="carousel-item-content-wrapper")
                            h5 Events
                            p 67 listings
                            span(class="btn btn-danger") Browse
                        div(class="carousel-item-bg"  data-bg="/img/category-box-03.jpg")
                div(class="carousel-item")
                    a(href="#" class="carousel-item-link")
                        div(class="carousel-item-content-wrapper")
                            h5 Fitness
                            p 25 listings
                            span(class="btn btn-danger") Browse
                        div(class="carousel-item-bg"  data-bg="/img/category-box-04.jpg")
                div(class="carousel-item")
                    a(href="#" class="carousel-item-link")
                        div(class="carousel-item-content-wrapper")
                            h5 Nightlife
                            p 17 listings
                            span(class="btn btn-danger") Browse
                        div(class="carousel-item-bg"  data-bg="/img/category-box-05.jpg")
                div(class="carousel-item")
                    a(href="#" class="carousel-item-link")
                        div(class="carousel-item-content-wrapper")
                            h5 Eat & Drink
                            p 14 listings
                            span(class="btn btn-danger") Browse
                        div(class="carousel-item-bg"  data-bg="/img/category-box-06.jpg")