#header {
    padding: 18px 0px 8px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.12);
    .left-side {
        float: left;
        #logo {
            float: left;
            img {
                max-height: 38px;
                width: auto;
            }
        }
        #navigation {
            float: left;
            ul {
                list-style: none;
                li {
                    float: left;
                    margin-right: 5px;
                    a {
                        color: #444;
                        padding: 5px 15px;
                        line-height: 32px;
                        display: block;
                        &:hover {
                            text-decoration: none;
                        }
                        &:after {
                            @extend %fa-icon;
                            @extend .fas;
                            content: fa-content($fa-var-angle-down);
                            padding-left: 7px;
                            opacity: .5;
                        }
                        & .active {
                            color: #f91942;
                        }
                    }
                }
            }
        }
    }
    .right-side {
        float: right;
        #sign-in {
            float: left;
            padding: 5px 15px;
            line-height: 32px;
            margin-right: 10px;
            i {
                margin-right: 7px;
            }
        }
        #add-listing {
            float: right;
            border-radius: 40px;
            padding: 10px 20px;
            font-weight: 600;
            i {
                margin-left: 5px;
            }
        }
    }
    .container:after {
        content: " ";
        clear: both;
        display: block;
    }
}