@import "variables";
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');
@import "./node_modules/bootstrap/scss/bootstrap";

@import "./node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "./node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "./node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "./node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

@import "./node_modules/slick-carousel/slick/slick.scss";
@import "./node_modules/slick-carousel/slick/slick-theme.scss";

@import "nav";
@import "_main-search-container";
@import "_pop-categories-container";

h2 {
    font-size: 2.5rem;
    font-weight: lighter;
    color: $gray-900;
}
h3 {
    font-size: 2rem;
    font-weight: lighter;
    color: $gray-900;
}
h4 {
    font-weight: lighter;
    font-size: 1.5rem;
}